* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-color: rgb(245, 245, 245);
  color: rgb(48, 48, 48);
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

header,
nav,
main,
section,
img {
  display: flex;
  position: relative;
}

header {
  flex-direction: column;
  width: 100%;
}

header img {
  position: relative;
  min-height: 5rem;
  max-height: 3.5rem;
  align-self: center;
}

header .header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  width: max-content;
  /* how do i put it to the other side - separate */
}

nav {
  position: absolute;
  top: 100%;
  clip-path: circle(0% at center);
  transition: clip-path 0.7s ease-in-out; 
  width: 100%;
  /*IT'S OVER 9000! */
  z-index: 9000;
  flex-direction: column;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}

nav.open {
  clip-path: circle(250% at center);
}

main {
  flex-direction: column;
}

section {
  flex-direction: column;
  padding: max(1rem, 2vmax);
}

.hero--header > h2 {
  font-size: 3.5rem;
  max-width: 6rem;
  white-space: nowrap;
}


/* GRID MAIN PAGE */
.hero--header {
  display: grid;
  flex-direction: row;
  padding: 1rem;
  grid-template: 1fr / 1fr 1fr;
  gap: 1px;
  justify-items: start;
  flex-wrap: nowrap;
  width: 36rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#nav-expand-button {
  position: relative;
  top: 2px;
  right: 2px;
}

/* desktop styles */
@media (min-width: 60rem) {
  body {
    flex-direction: row;
  }

  body > header {
    position: sticky;
    top: 0;
    max-width: min(12rem, 25svw);
    padding: 1rem;
    border-right: 4px solid rgb(158, 158, 158);
    height: 100svh;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr ;
  }
  
  header img {
    position: relative;
    min-height: 8rem;
  }
  
  nav {
    position: relative;
    top: 0;
    clip-path: unset;
    max-height: 100%;
  }
  
  main {
    flex-direction: column;
  }

  #nav-expand-button {
    display: none;
  }

  .header-wrapper {
    max-height: 3rem;
    width: max-content;
    justify-content: flex-start;
    align-items: center;
  }

  #header-nav {
    display: flex !important;
    justify-content: space-around;
    align-content: space-around;
    flex-flow: column nowrap;
    gap: 65vh;
    margin-top: 50px;
  }


  #social-links {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 0.2rem;
    align-items: center;
    height: 10%;
  }

  #social-links img {
    max-height: 2rem;
  }

  /* GRID MAIN PAGE */
  .hero--header {
    display: grid;
    flex-direction: row;
    padding: 2rem;
    grid-template: 1fr / 1fr 1fr;
    gap: 1px;
    justify-items: start;
    flex-wrap: nowrap;
    width: 70rem;
  }

  .hero--header > h2 {
    font-size: 6.7rem;
  }

}
