:root {
  /*  */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  min-height: 100svh;
}

img {
  max-width: 100%;
  height: auto;
}

header,
nav,
main,
section,
img {
  display: flex;
  position: relative;
}

header {
  flex-direction: column;
  width: 100%;
}

header img {
  position: relative;
  max-height: 3rem;
}

header .header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
nav {
  position: absolute;
  top: 100%;
  clip-path: circle(0% at center);
  transition: clip-path 0.7s ease-in-out;
  background-color: white;
  width: 100%;
  /*IT'S OVER 9000! */
  z-index: 9000;
  flex-direction: column;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}

nav.open {
  clip-path: circle(250% at center);
}

main {
  flex-direction: column;
}

section {
  flex-direction: column;
  padding: max(1rem, 2vmax);
}

.hero--header {
  --header-size: 10svh;
  display: flex;
  flex-direction: column;
  padding: 5vw;
}
.hero--header > h2 {
  font-size: var(--header-size); /* longest viewport percent (x/y)*/
  min-width: 60vw;
}
.hero--header > img {
  max-height: var(--header-size);
  width: auto;
  object-fit: contain;
  align-self: flex-start;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* desktop styles */
@media (min-width: 60rem) {
  body {
    flex-direction: row;
  }

  body > header {
    position: sticky;
    top: 0;
    max-width: min(16rem, 25svw);
    padding: 1rem;
    border-right: 1px solid gray;
    align-items: center;
    height: 100svh;
  }
  #nav-expand-button {
    display: none;
  }
  .header-wrapper {
    min-height: 25vh;
    justify-content: center;
    align-items: center;
  }
  nav {
    position: relative;
    top: 0;
    clip-path: unset;
    max-height: 100%;
    justify-content: space-between;
  }
  main {
    flex-direction: column;
  }
}
